.jumpToFirstMessage-container {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
  gap: 8px;
  opacity: 0.95;
  transition: opacity 0.15s;
}

.jumpToFirstMessage-container.containerMarginTop {
  top: 48px;
}

.jumpToFirstMessage-icon {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}
